#registro h1{
    font-size: 55px;
    text-align: center;
    color: rgba(0, 34, 78, 0.8);
    font-weight: 900;
}


#registro .form-control{
    border-color: rgb(0, 34, 78);
    border-radius: 5px;
    border-width: 1px;
}

#registro .btn{
    width: 120px;
    background-color: rgb(0, 34, 78);
    border-radius: 5px;
    color: #fff;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    margin-right: 25px;
    position: relative;
    z-index: 2;
  }

#frmnegocio {
  display: none;
}
