<% content_for :header do %>
  <%= stylesheet_link_tag 'dashboard/dashboard_provider', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<!-- Page Content  -->
<div id="content" class='dashboard-provider'>
  <div class="container mt-10">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <figure id="foto-perfil">
          <img src="/images/logo-perfil.png" class="img-fluid" width="180" style='width: 180px'>
        </figure>

        <div class="flex-column d-flex">
          <br />
          <br />
          <%= link_to 'Cupones Activos', provider_sales_path, class: 'btn btn-success' %>
          <%= link_to 'Nuevo Cupón', new_provider_sale_path, class: 'btn btn-yellow mt-3' %>
          <br />
          <br />
          <%= link_to 'Aplicar cupón', find_coupon_provider_sales_path, class: 'btn btn-yellow' %>
        </div>
      </div>

    </div>
  </div>

</div>
