<% content_for :header do %>
  <%= stylesheet_link_tag 'dashboard/dashboard_consumer', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <figure id="foto-perfil">
        <img src="/images/dashboard-player/avatar.png" class="img-fluid">
      </figure>

      <div class="row">
        <div class="col-xs-2" id="monedas">
          <img src="/images/dashboard-player/monedas.png">
        </div>
        <div class="col-xs-2">
          <a href="" class="text-right d-block" id="score-monedas">
            <%= current_user.points_earned %>
          </a>
        </div>
      </div>

      <div class="flex-column d-flex mt-4">
        <span id="usuario-jugador"><%= current_user.full_name.split(' ').first(2).join(' ') %></span>

        <%= link_to coupons_wallet_dashboard_index_path, class: 'mt-3 btn btn-yellow', id: 'btn-nuevo-cupon' do %>
          <i class='fa fa-ticket-alt'></i>
          Mis cupones
        <% end %>

        <%= link_to 'Quiero jugar', games_path, class: 'mt-3 btn btn-success' %>

        <br />
        <br />
        <%= link_to 'Comprar cupones', available_coupons_dashboard_index_path, class: 'btn btn-yellow' %>
      </div>
    </div>
  </div>
  <br />
</div>
