<div class='container'>
  <div class='row justify-content-center mt-1'>
    <% @coupons.each do |coupon| %>
      <%= render partial: 'provider_sales/coupon_card', locals: { coupon: coupon, render_style: 'for_consumer' } %>
    <% end %>
  </div>
</div>
