<div class='container'>
  <div class='row justify-content-center mt-1'>
    <% @consumer_coupons.each do |consumer_coupon| %>
      <%= render partial: 'provider_sales/coupon_card', locals: { coupon: consumer_coupon  } %>
    <% end %>
  </div>
</div>
