<%= content_for :header do %>
  <%= stylesheet_link_tag 'dashboard/extend_profile_1', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="wrapper" id='extend_profile_1'>
  <!-- Page Content  -->
  <div id="content">

    <div class="container">

      <div class="row justify-content-center no-margin">
          <div class="col-md-8" id="registro">

              <div class="avatar" >

                  <div class="name-user" >
                      <div class="name">
                        <img class="pencil" src="/images/avatar/pencil.png">
                        <input type="text" class="form-control user-name-text-input" placeholder="Nombre de usuario">
                      </div>


                      <img class="rounded-circle" src="/images/avatar/Elipse 22.png" data-holder-rendered="true">
                      <img class="camera" src="/images/avatar/camera.png">
                      <img class="borde" src="/images/avatar/borde.png">

                  </div>


                  <div class="images">
                      <div class="row avatar-images-wrapper">
                          <div class="col-3 col-sm-3 avatar-select">
                              <img class='avatar-image' src="/images/avatar/avatar1.png">
                          </div>

                          <div class="col-3 col-sm-3 avatar-select">
                              <img class='avatar-image' src="/images/avatar/avatar3.png">
                          </div>

                          <div class="col-3 col-sm-3 avatar-select">
                              <img class='avatar-image' src="/images/avatar/avatar3.png">
                          </div>
                      </div>

                      <div class="row avatar-images-wrapper">
                          <div class="col-3 col-sm-3 avatar-select" >
                              <img class='avatar-image' src="/images/avatar/avatar4.png">
                          </div>

                          <div class="col-3 col-sm-3 avatar-select">
                              <img class='avatar-image' src="/images/avatar/avatar5.png">
                          </div>

                          <div class="col-3 col-sm-3 avatar-select">
                              <img class='avatar-image' src="/images/avatar/avatar6.png">
                          </div>
                      </div>
                  </div>


              </div>



                  <h4 id="intereses-h4">Intereses</h4>
                  <div class="row" id="intereses">

                      <div class="col-6 col-sm-3"><div class="form-check">
                          <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1">
                          <label class="form-check-label" for="exampleRadios1">
                            Alimentos y bebidas
                          </label>
                        </div>
                      </div>

                      <div class="col-6 col-sm-3">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1">
                              <label class="form-check-label" for="exampleRadios1">
                                Ropa
                              </label>
                          </div>
                      </div>

                      <div class="col-6 col-sm-3"><div class="form-check">
                          <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1">
                          <label class="form-check-label" for="exampleRadios1">
                            Viajes y Ocio
                          </label>
                        </div>
                      </div>

                      <div class="col-6 col-sm-3">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1">
                              <label class="form-check-label" for="exampleRadios1">
                                Abarrotes
                              </label>
                          </div>
                      </div>

                      <div class="col-6 col-sm-3"><div class="form-check">
                          <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1">
                          <label class="form-check-label" for="exampleRadios1">
                            Productos Hogar
                          </label>
                        </div>
                      </div>

                      <div class="col-6 col-sm-3">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1">
                              <label class="form-check-label" for="exampleRadios1">
                                Otros
                              </label>
                          </div>
                      </div>

                  </div>



                  <%= form_for(current_user, as: 'user', url: dashboard_update_profile_path) do |f| %>
                    <%= f.hidden_field :avatar_id, value: '1' %>
                    <div class="form-group text-right">
                        <button class="btn">
                            Guardar
                        </button>
                    </div>
                  <% end %>

          </div>
      </div>
      </div>
  </div>


</div>
