
/* ---------------------------------------------------
     Fonts
----------------------------------------------------- */
@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-Hairline.eot");
    src: url("/fonts/montserrat/Montserrat-Hairline.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/montserrat/Montserrat-Hairline.woff") format("woff"),
      url("/fonts/montserrat/Montserrat-Hairline.ttf") format("truetype"),
      url("/fonts/montserrat/Montserrat-Hairline.svg") format("svg"),
      url("/fonts/montserrat/Montserrat-Hairline.otf");
    font-weight: 100;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-UltraLight.eot");
    src: url("/fonts/montserrat/Montserrat-UltraLight.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/montserrat/Montserrat-UltraLight.woff") format("woff"),
      url("/fonts/montserrat/Montserrat-UltraLight.ttf") format("truetype"),
      url("/fonts/montserrat/Montserrat-UltraLight.svg") format("svg"),
      url("/fonts/montserrat/Montserrat-UltraLight.otf");
    font-weight: 200;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-Light.eot");
    src: url("/fonts/montserrat/Montserrat-Light.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/montserrat/Montserrat-Light.woff") format("woff"),
      url("/fonts/montserrat/Montserrat-Light.ttf") format("truetype"),
      url("/fonts/montserrat/Montserrat-Light.svg") format("svg"),
      url("/fonts/montserrat/Montserrat-Light.otf");
    font-weight: 300;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-Regular.eot");
    src: url("/fonts/montserrat/Montserrat-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/montserrat/Montserrat-Regular.woff") format("woff"),
      url("/fonts/montserrat/Montserrat-Regular.ttf") format("truetype"),
      url("/fonts/montserrat/Montserrat-Regular.svg") format("svg"),
      url("/fonts/montserrat/Montserrat-Regular.otf");
    font-weight: 400;
  }

  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-SemiBold.eot");
    src: url("/fonts/montserrat/Montserrat-SemiBold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/montserrat/Montserrat-SemiBold.woff") format("woff"),
      url("/fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"),
      url("/fonts/montserrat/Montserrat-SemiBold.svg") format("svg"),
      url("/fonts/montserrat/Montserrat-SemiBold.otf");
    font-weight: 600;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-Bold.eot");
    src: url("/fonts/montserrat/Montserrat-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/montserrat/Montserrat-Bold.woff") format("woff"),
      url("/fonts/montserrat/Montserrat-Bold.ttf") format("truetype"),
      url("/fonts/montserrat/Montserrat-Bold.svg") format("svg"),
      url("/fonts/montserrat/Montserrat-Bold.otf");
    font-weight: 700;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-ExtraBold.eot");
    src: url("/fonts/montserrat/Montserrat-ExtraBold.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/montserrat/Montserrat-ExtraBold.woff") format("woff"),
      url("/fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype"),
      url("/fonts/montserrat/Montserrat-ExtraBold.svg") format("svg"),
      url("/fonts/montserrat/Montserrat-ExtraBold.otf");
    font-weight: 800;
  }
  @font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("/fonts/montserrat/Montserrat-Black.eot");
    src: url("/fonts/montserrat/Montserrat-Black.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/montserrat/Montserrat-Black.woff") format("woff"),
      url("/fonts/montserrat/Montserrat-Black.ttf") format("truetype"),
      url("/fonts/montserrat/Montserrat-Black.svg") format("svg"),
      url("/fonts/montserrat/Montserrat-Black.otf");
    font-weight: 900;
  }
* {
    font-family: Montserrat;
}
/* ---------------------------------------------------
     Custom navbar
----------------------------------------------------- */
.custom_nav .navbar.navbar-fixed-top .navbar-inner{
    background: rgba(255, 255, 255, 0);
}


  /* ---------------------------------------------------
    Text
----------------------------------------------------- */
.text-light{
    color:gray;
}

a {color: black;}
a:hover {color: green;}

.text-bodyp{
  font-weight: 200;
}

  /* ---------------------------------------------------
    Footeer
----------------------------------------------------- */
$dark1: #000000;
$dark2: #212121;
$dark3: #303030;
$dark4: #424242;
body {
  background: white;
}

.row {
  margin: 0.5rem;
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

#landing-page .box {
  background: #FFFFFF;
  border-radius: 30px;
  height: 20rem;
  width: 15rem;
}

#landing-page .card {
  background: #FFFFFF;
  border: 0px;
  border-radius: 30px;
  width: 100%;
}

#landing-page .card-header {
  background: #FFFFFF;
  &::before {
    content: '';
    position: absolute;
    right: 100%;
    border: 1rem solid transparent;
    border-right: 1.25rem solid $dark2;
  }
}

/*FOOTER*/

footer {
  background: rgb(0, 33, 54);
  background: -webkit-linear-gradient(59deg, rgb(83, 168, 211), rgb(0, 33, 54));
  background: linear-gradient(59deg, rgb(83, 168, 211), rgb(0, 33, 54));
  color: white;
  margin-top: 25px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoInstagram:hover {
  background-color: #e46ff3;
}
.social-network a.icoTwitter:hover {
  background-color: #5fdcfc;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoTwitter:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

