<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'frmjugador' }) do |f| %>
  <%= f.hidden_field :consumer_role, value: '1' %>

  <div class="form-group">
    <%= f.text_field :full_name, class: 'form-control', placeholder: 'Nombre completo' %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="form-group">
    <%= f.text_field :age, type: 'number', class: 'form-control', placeholder: 'Edad', min: '18', max: '100', step: '1' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: 'new-password', placeholder: 'Contraseña', id: 'password-field', class: 'form-control' %>
    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: 'Confirmar contraseña', id: 'password-field', class: 'form-control' %>
    <br />
  </div>

  <div class="form-group text-right">
    <button class="btn">
      Enviar
    </button>
  </div>
<% end %>
