<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'frmnegocio' }) do |f| %>
  <%= f.hidden_field :provider_role, value: '1' %>

  <div class="form-group">
    <%= f.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: 'new-password', placeholder: 'Contraseña', id: 'password-field', class: 'form-control' %>
    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: 'Confirmar contraseña', id: 'password-field', class: 'form-control' %>
  </div>

  <br />
  <h2 class="w-100">Datos de tu empresa / negocio</h2>

  <%= f.fields_for :company_attributes do |company_form| %>
    <div class="form-group">
      <%= company_form.text_field :name, class: 'form-control', placeholder: 'Nombre de la empresa', required: true %>
    </div>

    <div class="form-group">
      <%= company_form.text_field :street_address, class: 'form-control', placeholder: 'Calle', required: true %>
    </div>

    <div class="form-group">
      <%= company_form.select(:address_state_code, country_states_for_selector, { prompt: 'Selecciona Estado', required: true }, { class: 'form-control' }) %>
    </div>

    <div class="form-group">
      <%= company_form.text_field :address_zip_code, type: 'number', class: 'form-control', placeholder: 'Código postal', required: true, min: '0', max: '99999' %>
    </div>

    <div class="form-group">
      <%= company_form.select(:category_id, company_categories_for_selector, { prompt: 'Selecciona giro', required: true }, { class: 'form-control' }) %>
    </div>

    <br />
    <h2 class="w-100">Producto y/o servicio</h2>

    <div class="form-group">
      <label class="w-50 d-inline-block">
        <%= company_form.check_box :offers_physical_products %>
        Físico
      </label>

      <label class="d-inline-block">
        <%= company_form.check_box :offers_digital_products %>
        Digital
      </label>
    </div>

    <br />
    <h2 class="w-100">Formas de pago</h2>

    <div class="form-group">
      <label class="w-60 d-inline-block">
        <%= company_form.check_box :offers_credit_card_payments %>
        Tarjeta de credito
        <img src="/images/tarjeta.png" alt="">
      </label>

      <label class="d-inline-block" style='float: right'>
        <%= company_form.check_box :offers_cash_payments %>
        Efectivo
        <img src="/images/efectivo.png" alt="">
      </label>
    </div>

    <div class="form-group">
      <%= company_form.text_field :owner_full_name, class: 'form-control', placeholder: 'Nombre del responsable', required: true %>
    </div>

    <div class="form-group">
      <%= company_form.text_field :phone_number, type: 'tel', class: 'form-control', placeholder: 'Teléfono' %>
    </div>
  <% end %>

  <div class="form-group text-right">
    <button class="btn">
      Enviar
    </button>
  </div>
<% end %>
