<% content_for :header do %>
  <%= stylesheet_link_tag 'registrations/new', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= render "devise/shared/error_messages", resource: resource %>

<div class="container">
  <div class="row justify-content-center">
    <div id="registro">
      <div class="d-flex flex-wrap">
        <div class="w-50 p-4">
          <img src="/images/logo-sidebar.png" class="img-fluid" alt="Sumándonos">
        </div>
        <div class="w-50 p-4">
          <img src="/images/imagen-ticket.png" class="img-fluid" alt="Sumándonos">
        </div>
      </div>

      <h1>Registro</h1>

      <h2 class="w-100">Soy un</h2>

      <div class="form-group d-flex">
        <label class="w-50">
          <input type="radio" name="tipousuario" value="jugador" class="tipousuario" id="" checked>
          Jugador
        </label>

        <label class="w-50">
          <input type="radio" name="tipousuario" value="negocio" class="tipousuario" id="">
          Negocio
        </label>
      </div>

      <%= render partial: 'registration_consumer' %>
      <%= render partial: 'registration_provider' %>
    </div>
  </div>
</div>

<%= content_for :footer do %>
  <script>
    $(document).on("change", "input.tipousuario", function () {
      var tipo = $(this).val()
      if (tipo == "jugador") {
        $("#frmjugador").show();
        $("#frmnegocio").hide();
      } else {
        $("#frmjugador").hide();
        $("#frmnegocio").show();
      }
    });

    $(".toggle-password").click(function() {
      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });
  </script>
<% end %>
