#foto-perfil{
  width: 180px;
  position: relative;
  margin: 0 auto;
}
#foto-perfil .badge{
  position: absolute;
  right: 0px;
  padding: 16px 20px;
}


#editar-perfil{
    color: rgb(0, 34, 78);
    font-weight: 600;
    font-size: 20px;
}

#nombre-empresa{
    color: rgb(0, 34, 78);
    border-radius: 22px;
    padding: 10px;
    font-size:18px;
}

#content.dashboard-provider {
  min-height: 80vh;
}
