#extend_profile_1 #content {
  padding-top: 0;
  margin-top: 50px;
}

#extend_profile_1 .user-name-text-input {
  height: 48px;
  line-height: 48px;
  padding-left: 100px;
}

#extend_profile_1 .container {
  padding-left: 0;
  padding-right: 0;
}

#extend_profile_1 .img-fluid{
  margin-left: 204px;
}

.images{
    margin-top: 50px;
}

.name-user{
    margin-top: 50px;
}

.avatar .rounded-circle{
    width: 80px;
    margin-left: 8px;
}

.avatar .borde{
    width: 110px;
    height: auto;
    margin-top: 107px;
    margin-left: -98px;
}

#name-user{
    text-align: right;
    padding-right: 100px;
    color: #11264e;
}

.avatar-images-wrapper {
  margin-left: -21px;
}

.avatar-select {
  margin-left: 7px;
}

.avatar-select img{
  width: 80px;
  height: auto;
  margin-left: 25px;
}

.camera{
    position: absolute; left: 25px; top: 48px;
}

.borde{
    position: absolute; left: 95px; top: -12px;
}

.rounded-circle{
    position: absolute; left: 3px; top: 34px;
}

.pencil{
    position: absolute; left: 310px; top: 60px;
}

form{
    margin-top: 30px;
}

#intereses{
    margin-left: 20px;
}

#intereses-h4{
    margin-left: 20px;
}

#extend_profile_1 .col-sm-3{
  padding: 20px;
  padding-top: 0;
}
