<%= stylesheet_link_tag 'home/index', media: 'all', 'data-turbolinks-track': 'reload' %>

<!-- Begin of container -->
<div class="container" id='landing-page'>

  <!-- First row -->
  <div class="row">
    <div class="col-sm-12 col-xl-6 align-items-center">
      <img src="images/final-logosuma1.png" alt="Sumándonos" class=" mb-4"
        style="width: 50%; height: auto;">
      <div class="col-sm-12 mt-5 mb-5">
        <img src="images/OBJECTS.png" alt="Ganar" style="width: 100%; height: auto;">

      </div>
      <h2 class="text-center mt-5" style="color:rgb(61, 61, 61)">APRENDIZAJE EN </h2>
      <h1 class="text-center font-weight-bold" style="color:rgb(61, 61, 61)">MOVIMIENTO </h1>
      <h5 class="text-center text-muted text-bodyp">Juegas, ayudas y ganas</h5>
      <div class="text-center">
        <%= link_to new_user_registration_path do %>
          <button type="button" class="btn btn-success mt-3" style="width: 230px;">Registro</button>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Second row -->
  <div class="row ">
    <div class="col-sm-12 mt-2 align-items-center">
      <br />
      <img src="images/hombre.png" alt="Hombre" class="text-center" style="width: 100%; height: auto;">
    </div>
    <div class="col-sm-12 col-xl-4 ml-3 align-items-center">
      <br />
      <h2 class="text-center" style="color:rgb(61, 61, 61)">Quiénes somos <br> </h2>
      <h5 class="text-center text-muted mb-5 text-bodyp">Una App interactiva donde los
        usuarios ganan cupones de descuentos en
        productos y servicios por realizar dinámicas de juegos para completar retos. (Durante y posterior a la
        contingencia por COVID-19).
      </h5>
    </div>
  </div>

  <!-- Third row -->
  <div class="row ">
    <div class="col-sm-12  ml-3 mb-3">
      <h1 class="text-center" style="color:rgb(61, 61, 61)">Ventajas <br> </h1>
    </div>
  </div>

  <div class="col-md align-items-center">
    <div class="row align-items-center">
      <div class="box shadow text-center mb-3 col-12">
        <img src="images/boton-de-play.png" alt="Juega" class=" mt-3 mb-3">
        <h3 style="color:rgb(61, 61, 61)">Juega</h3>
        <h5 class="text-muted text-bodyp">
          Mantente activo para ganar mayor cantidad de puntos y obtener descuentos en productos!
        </h5>
      </div>
      <div class="box shadow text-center mb-3 col-12">
        <br />
        <img src="images/ayuda.png" alt="Ayuda" class="mb-3 mt-3 ">
        <h3 style="color:rgb(61, 61, 61)">Ayuda</h3>
        <h5 class="text-muted text-bodyp">Ayudas a negocios locales y aprovechas las
          promociones de un producto o servicio.
        </h5>
      </div>
      <div class="box shadow text-center mb-3 col-12">
        <br />
        <img src="images/taza.png" alt="Gana" class="mb-3 mt-3">
        <h3 style="color:rgb(61, 61, 61) ">Gana</h3>
        <h5 class="text-muted text-bodyp">Productos y servicios con los negocios participantes.
        </h5>
      </div>
    </div>
  </div>
</div>

<br />
<br />
