<div class="col align-self-center">
  <div class="d-flex justify-content-center">
    <div class="card mt-4" style="width: 20rem;">
      <img
        src='<%= game.game_image.try(:service_url) %>'
        class='card-img-top'
      >

      <div class="card-body">
        <h6 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
          <%= game.title %>
        </h6>

        <hr style="margin-top: 0px; height: 0.5px; background-color: black;" />

        <p style=" font-family: Arial, Helvetica, sans-serif">
          <%= game.description %>
        </p>

        <div class='button-canjear text-right'>
          <a
            data-toggle='modal'
            data-target='.modal-game-<%= game.id %>'
            class='btn btn-success'
            href='#'
          >
            Jugar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='modal modal-game-<%= game.id %>' tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header">
        <%= game.title %>
      </div>

      <div class="content">
        <div class="row text-left">
          <div class="col" style='font-size: 15px'>
            <%= game.summary %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class='col text-right'>
          <a href='#' class='btn btn-default-no-background' data-dismiss='modal'>Salir</a>
          <%= link_to 'Jugar', game_path(id: game.id), class: 'btn btn-success' %>
        </div>
      </div>
    </div>

  </div>
</div>
