<div class="col align-self-center yes-no-question-container">
  <div class="d-flex justify-content-center">

    <div class="card mt-4" style="width: 20rem;">
      <img
        class='card-img-top'
        src='<%= yes_no_question.yes_no_question_image.try(:service_url) %>'
      />

      <div class="card-body">
        <p style=" font-family: Arial, Helvetica, sans-serif" id="question">
          <%= yes_no_question.title %>
        </p>

        <div class="row text-left">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-success" for="<%= "#{yes_no_question.id}_true" %>">
              <input
                type="radio"
                name="yes_no_question_results[<%= yes_no_question.id %>]"
                id="<%= "#{yes_no_question.id}_true" %>"
                autocomplete="off"
                value='on'
              />
              Verdadero
            </label>

            <label class="btn btn-danger" for="<%= "#{yes_no_question.id}_false" %>">
              <input
                type="radio" name="yes_no_question_results[<%= yes_no_question.id %>]"
                id="<%= "#{yes_no_question.id}_false" %>"
                autocomplete="off"
                value='off'
              />
              Falso
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
