<div class="wrapper">
  <div id="content">
    <div class="text-center">
      <p style="font-size: 25px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: #00bfff; text-transform: uppercase; font-weight: bold; line-height: 24px;">
        <%= @game.title %>
      </p>

      <h6>Contesta correctamente las siguientes <%= @game.yes_no_questions.count %> preguntas.</h6>
    </div>

    <%= form_with(url: process_user_input_games_path, method: 'post') do %>
      <input type='hidden' name="id" value='<%= @game.id %>' />
      <div class="d-flex justify-content-center">
        <div class="row">
          <% @game.yes_no_questions.each do |yes_no_question| %>
            <%= render partial: 'yes_no_question', locals: { yes_no_question: yes_no_question, results: @results } %>
          <% end %>
        </div>
      </div>

      <div class='text-center mt-4'>
        <%= submit_tag('Calificar', class: 'btn-success btn') %>
      </div>
    <% end %>

  </div>
</div>
