<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @company.category_id %>
</p>

<p>
  <strong>Offers physical products:</strong>
  <%= @company.offers_physical_products %>
</p>

<p>
  <strong>Offers digital products:</strong>
  <%= @company.offers_digital_products %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
