.yes-no-question-container {
  .btn-group {
    width: 100%
  }

  .btn-danger.active {
    box-shadow: 0 0 0 0.2rem rgba(225,83,97,.5);
  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-success.active {
    box-shadow: 0 0 0 0.2rem rgba(72,180,97,.5);
  }

  .btn {
    width: 50%;
  }
}
