<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row justify-content-center">
      <div class="col-md-8" id="registro">
        <h2 class="mt-5">Inicia sesión</h2>
        <br />

        <form action="" id="frmlogin">
          <input type="hidden" name="tipousuario" value="jugador">

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: 'Usuario', autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Contraseña', class: 'form-control' %>
          </div>

          <div class="form-group text-right">
            <button class="btn">
              Entrar
            </button>
          </div>

        <div class="form-group">
          <%= render "devise/shared/links" %>
        </div>

        <div class="p-4">
          <img src="/images/image-familia.png" class="img-fluid" alt="Sumándonos">
        </div>
      </div>
    </div>
  <% end %>
</div>

