/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h2{
  font-size: 22px;
  color: #00224E;
}

::-webkit-input-placeholder { /* Edge */
  color: red !important;
  font-size: 16px;
  font-weight: normal;
}

::placeholder {
  color: #ced4da !important;
  font-size: 16px;
  font-weight: 300;
}

.btn {
  border-radius: 5px;
  font-size:18px;
  color: #fff;
}

.btn-success {
  background-color: rgb(0, 34, 78);
  border-color: rgb(0, 34, 78);
}

.btn-default {
  background-color: white;
  border-color: #999;
  color: #999;
}

.btn-default-no-background {
  color: #999;
}

.btn-yellow {
  background-color: #ffc107;
  border: 1px solid #ffc107;
  color: rgb(0, 34, 78);
}

.float-right {
  float: right;
}

.dashed-border {
  border: 1px dashed #dee2e6;
}

#notice {
  width: 100%;
}
