.coupon_card {
  .coupon-title {
    color: #8e8e8e;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .discount {
    font-size: 20px;
    font-weight: 300;
  }

  .description {
    font-size: 13px;
  }

  .card {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  }

  .card-body{
      padding: 10px;
  }

  .button-canjear button{
      background-color: #11264e; padding: 2px 20px; color: white;
  }

  .stats {
    color: #8e8e8e;

    img {
      margin-top: -3px;
    }
  }

  .button-canjear{
    text-align: right;
    margin-top: -10px;
    background-color: hsla(0, 0%, 97%, 1);
    padding: 10px;
  }

  .modal .modal-sm .modal-content{
      padding: 15px;
  }
}
