<% modal_obtain_cupon_id = "modal-obtain-coupon-#{coupon['id']}" %>

<div class="col align-self-center coupon_card">
  <div class="d-flex justify-content-center">
    <div class="card mt-4" style="width: 20rem;">
      <img
        class="card-img-top"
        src='<%= coupon['reference_image'].try(:service_url) %>'
        alt="Card image cap"
      />
      <div class="card-body">
        <div class="coupon-title mt-3">
          <%= coupon['title'] %>
        </div>

        <p class='discount'>
          <%= discount_to_ui(coupon) %> de Descuento
        </p>

        <hr style="margin-top: 0px;" />

        <% if coupon['type'] == 'consumer_coupon' %>
          <div class='stats'>
            <% if coupon['coupon_applied'] %>
              Código: <del><%= coupon['code'] %></del> (cupón aplicado)
            <% else %>
              Código: <%= coupon['code'] %>
            <% end %>
          </div>
        <% else %>
          <div class='stats'>
            <span>
              <% if coupon['type'] == 'provider_coupon' && render_style == 'for_consumer' %>
                <img src='/images/coins.png' width='20px' />
                <%= coupon['required_credits'] %>
                Puntos Requeridos
              <% end %>

              <% if coupon['type'] == 'provider_coupon' && render_style == 'for_provider' %>
                <%= coupon['required_credits'] %>
                Puntos •
                <%= coupon['available_stock'] %>
                Cupones
              <% end %>
            <span>
          </div>
        <% end %>

        <hr />

        <p class='description'>
          <%= coupon['description'] %>
        </p>
      </div>

      <% if coupon['type'] == 'provider_coupon' && render_style == 'for_consumer' %>
        <div class="button-canjear">
          <a
            data-toggle='modal'
            data-target='#<%= modal_obtain_cupon_id %>'
            class='btn btn-success float-right'
            href='#'
          >
            Obtener
          </a>
        </div>
      <% end %>

      <% if coupon['type'] == 'provider_coupon' && render_style == 'for_provider' %>
        <div class="button-canjear">
          <%= link_to edit_provider_sale_path(id: coupon['id']), class: 'btn btn-success float-right' do %>
            <i class='fa fa-pencil'></i>
            Editar
          <% end %>
          <%= link_to 'Borrar', coupon, class: 'btn btn-default-no-background', method: :delete, data: { confirm: 'Por favor confirma.' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id='<%= modal_obtain_cupon_id %>' class='modal' tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header">
        Obtener cupón
      </div>

      <div class="content">
        <div class="row text-left">
          <div class="col" style='font-size: 15px'>
            Estás apunto de obtener este cupón.
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class='col text-right'>
          <a href='#' class='btn btn-default-no-background' data-dismiss='modal'>Salir</a>

          <%= link_to 'Obtener', obtain_coupon_dashboard_index_path(coupon_id: coupon['id']), class: 'btn btn-success float-right', method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>
