<%= form_with(model: provider_sale, local: true) do |form| %>
  <% if provider_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider_sale.errors.count, "error") %> prohibited this provider_sale from being saved:</h2>

      <ul>
        <% provider_sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :provider_id, value: current_user.id %>

  <div class="form-group">
    <%= form.text_field :title, placeholder: 'Título', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.text_area :description, placeholder: 'Descripción', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.text_field :discount_amount, placeholder: 'Descuento', step: '1', min: '1', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.select(:discount_type, discount_types_for_selector, { prompt: 'Selecciona Tipo de Descuento', required: true }, { class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= form.number_field :product_price, placeholder: 'Precio del Producto', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.number_field :required_credits, type: 'number', class: 'form-control', placeholder: 'Puntos Requeridos', min: '1', step: '1' %>
  </div>

  <div class="form-group">
    <%= form.number_field :available_stock, type: 'number', class: 'form-control', placeholder: 'No. de Cupones Disponibles', min: '1', step: '1' %>
  </div>

  <div class='form-group custom-file'>
    <%= form.file_field :reference_image, class: 'custom-file-input', id: 'reference-image-input' %>
    <label class="custom-file-label" for="customFile">Imagen del producto</label>
  </div>

  <br />
  <br />
  <div class='text-center'>
    <img id='reference-image-thumbnail' src='<%= provider_sale.reference_image.try(:service_url) %>' class='img-thumbnail dashed-border' style='max-height: 300px; max-width: 300px'>
  </div>

  <br />
  <br />
  <div class="actions">
    <%= form.submit(perform_operation_label(provider_sale.id, 'Actualizar cupón', 'Crear cupón'), class: 'btn btn-success float-right') %>
  </div>
<% end %>


<% content_for :footer do %>
<script>
  document.getElementById('reference-image-input').onchange = function() {
    var $thumbnail = document.getElementById('reference-image-thumbnail');
    var fileSrc = (window.URL ? URL : webkitURL).createObjectURL(this.files[0])

    $thumbnail.setAttribute('src', fileSrc);
  }
</script>
<% end %>
