<div class='container'>
  <br/ >
  <br />
  <h2>Aplicar cupón</h2>

  <%= form_tag(apply_coupon_provider_sales_path) do %>
    <div class="form-group">
      <%= text_field_tag :coupon_code, nil, placeholder: 'Código del cupon', class: 'form-control' %>
    </div>
    <br />

    <%= submit_tag 'Aplicar', class: 'btn btn-success' %>
  <% end %>

  <br />
  <br />
</div>
