<div class="container" id='provider-sales-index'>
  <div class="row justify-content-center mt-1">
    <p id="notice"><%= notice %></p>
    <% @coupons.each do |coupon| %>
      <%= render partial: 'coupon_card', locals: { coupon: coupon, render_style: 'for_provider' } %>
    <% end %>

    <%= link_to new_provider_sale_path, class: 'btn btn-primary btn-yellow mt-5' do %>
      <i class='fa fa-plus'></i>
      Nuevo cupón
    <% end %>
  </div>
</div>
