<div class='container'>
  <br/ >
  <br />
  <h2>Nuevo cupón</h2>

  <%= render 'form', provider_sale: @provider_sale %>
  <%= link_to 'Regresar', provider_sales_path, class: 'btn btn-default' %>
  <br />
  <br />
</div>
