<p id="notice"><%= notice %></p>

<p>
  <strong>Provider:</strong>
  <%= @provider_sale.provider_id %>
</p>

<p>
  <strong>Product price:</strong>
  <%= @provider_sale.product_price %>
</p>

<p>
  <strong>Required credits:</strong>
  <%= @provider_sale.required_credits %>
</p>

<p>
  <strong>Available stock:</strong>
  <%= @provider_sale.available_stock %>
</p>

<%= image_tag @provider_sale.reference_image, width: 50, height: 50 %>

<%= link_to 'Edit', edit_provider_sale_path(@provider_sale) %> |
<%= link_to 'Back', provider_sales_path %>
