<!DOCTYPE html>
<html>
  <head>
    <title>Sumándonos - Llego la diversión!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'global', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= yield :header %>

  </head>

  <body class="<%= add_puzzle_class() %>">
    <header>

      <div class="custom-nav">
        <% if include_top_graph? || include_generic_logo? %>
          <div class="col-sm-1 text-right">
            <% if include_top_graph? %>
              <img src="/images/Bg_Shape.png" alt="Ganar" style="width: <%= top_graph_size() %>; height: auto; position: absolute; right: 0">
            <% end %>
            <% if include_generic_logo? %>
              <img src="/images/logo-sidebar.png" class="img-fluid" alt="Sumándonos" style='height: auto; position: absolute; right: 20px; top: 10px; z-index: 99; width: 40%;'>
            <% end %>
          </div>
        <% end %>
        <nav class="navbar navbar-expand-md">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
          </button>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <% unless user_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'Inicio', root_path, class: 'nav-link' %>
                </li>
              <% end %>

              <% unless controller.is_a?(Devise::RegistrationsController) %>
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to 'Dashboard', dashboard_index_path, class: 'nav-link' %>
                  </li>
                <% end %>

                <% unless user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
                  </li>
                <% end %>
              <% end %>

              <li class="nav-item">
                <a class="nav-link" href="#">Quiénes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>
              <% unless controller.is_a?(Devise::RegistrationsController) %>
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to 'Log out', destroy_user_session_path, class: 'nav-link', method: :delete %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>


    <div class='main-container'>
      <% if notice.present? %>
        <p class="alert alert-success ml-3 mr-3"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class="alert alert-warning ml-3 mr-3"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <footer class="mainfooter" role="contentinfo">
      <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
                <h4>Contacto</h4>
                <ul class="list-unstyled">
                  <li><a href="#"></a></li>
                  <li><a href="#">312 12345 456</a></li>
                  <li><a href="#">contacto@sumandonos.com</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <h4>Follow Us</h4>
              <ul class="social-network social-circle">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2020 - SUMANDONOS. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <% console if Rails.env.development? %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9c9030ceca.js" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
        });

        $(window).scrollTop(0);
      });
    </script>

    <%= yield :footer %>
  </body>
</html>
